@import '../palette.scss';

$w-button: 15%;
$gap: 1%;
$w-input: 100% - 2 * $w-button - 2 * $gap;
$animation: btn-animation 5s infinite alternate;

.input{ 
    margin-top: 10px;
    margin-bottom: 0px;
    input{
        padding: 10px;
        font-size: 18px;
        height: 50px;
        border-radius: 2px;
        border-style: none;
        width: $w-input;
    }
    button{
        font-size: 20px;
        height: 50px;
        width: $w-button;
        font-weight: bold;
        color: white;
        border-radius: 2px;
        border-style: none;
        margin-left: $gap;
        box-shadow: 0 0 6px 4px rgba(0,0,0,0.12);
        &:hover{
            cursor: pointer;
        }
        &:focus{
            border-color: none;
        }
        &.user0{
            background: linear-gradient(115deg, $color8, $color7);
            background-size: 300%;
            animation:  $animation;
        }
        &.user1{
            background: linear-gradient(115deg, $color8, $color9);
            background-size: 300%;
            animation:  $animation;
        }
    }
}
@media screen and (max-width:550px) {
    .input{
        margin-bottom: 0px;
        button{
            font-size: 15px;
        }
    }
}

@keyframes btn-animation {
    0%{
        background-position: left;
    }
    10%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}