@import '../palette.scss';

$height-1: 40px;
$height-2: 90px;

.list{
    list-style: none;
    padding: 0;
    margin: 0;
    // overflow: scroll;
    // max-height: 500px;
    background-color: $color10;
    border-radius: 3%;
    &:hover{
        cursor: pointer;
    }
    li{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        font-size: 20px;
        overflow: hidden;
        border-bottom: 2px solid #a6a6a6;
        transition: height 0.5s ease-in-out;
        &[userid='0']{
            background: linear-gradient(150deg, $color10, $color10, $color10, $color7);
        }
        &[userid='1']{
            background: linear-gradient(150deg, $color10, $color10, $color10, $color9);
        }
        .main{
            position: relative;
            padding: 5px 15px 0px 25px;
            width: 65%;
            div{
                font-size: 23px;
                height: 28px;
                overflow: scroll;
                color: #404040;
                margin: 2px auto 11px auto;
                -webkit-user-select: none;
                white-space: nowrap;
                span{
                    font-size: 18px;
                    opacity: 0.5;
                }
            }
            @media screen and (max-width:550px) {
                div{
                    font-size: 18px;
                    margin: 2px auto 10px auto;
                    span{
                        font-size: 13px;
                        opacity: 0.5;
                    }
                }
            }
        }
        @media screen and (max-width:550px) {
            .main{
                padding-left: 15px;
                padding-right: 0px;
                width: 60%;
            }
        }
        .date{
            padding: 5px 10px 10px 10px;
            div{
                text-align: center;
                font-size: 13px;
                color: #404040;
                margin: 8px auto 15px auto;
                -webkit-user-select: none;
            }
            button{
                background-color: rgba(217,217,217,0.5);
                box-shadow: 0 0 6px 0.1px #737373;
                color: #333333;
                border-radius: 5%;
                height: 33px;
                width: 100px;
                font-size: 20px;
                border-style: none;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
            @media screen and (max-width:550px) {
                button{
                    font-size: 15px;
                    height: 25px;
                    width: 65px;
                }
            }
        }
    }
}

.list li{
    height: $height-1;
}
.list li.open{
    height: $height-2;
}