@import '../palette.scss';

$height: 30vh;

.scene{
	position: relative;
	height: $height;
	.total{
		position: absolute;
		top: 50%;
		left: 50%;
		opacity: 0.5;
		transform: translate(-50%,-50%);
		font-size: 100px;
		&.positive{
			color: $color7;
		}
		&.negative{
			color: $color9; 

		}
	}
	@media screen and (max-width:550px) {
		.total{
			font-size: 18vw;
		}
	}
	.character{
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%) scale(0.5);
		background:url(../assets/character.png);
		height: 360px;
		width: 160px;
		animation: walk 1.5s steps(12) infinite;
		animation-direction: alternate;
	}
}

@keyframes walk{
	0%{
		background-position: 0px 0px;
	}
	100%{
		background-position: 1920px 0px;
	}
}