@import '../palette.scss';

$height: 30vh;
$num-animation: num-animation 5s infinite alternate;

.scene{
	position: relative;
	height: $height;
	.total{
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 100px;
		opacity: 0.3;
		&.positive{
			opacity: 0.7;
			background: linear-gradient(115deg, #f2f2f2, #f2f2f2, $color7);
			background-clip: text;
			color: transparent;
			background-size: 150%;
			animation: $num-animation;
		}
		&.negative{
			opacity: 0.7;
			background: linear-gradient(115deg, #f2f2f2, #f2f2f2, $color9);
			background-clip: text;
			color: transparent;
			background-size: 300%;
			animation: $num-animation;
		}
	}
	@media screen and (max-width:550px) {
		.total{
			font-size: 25vw;
		}
	}
	.character{
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%) scale(0.5);
		background:url(../assets/character.png);
		height: 360px;
		width: 160px;
		animation: walk 1.5s steps(12) infinite;
		animation-direction: alternate;
	}
}

@keyframes num-animation {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

@keyframes walk{
	0%{
		background-position: 0px 0px;
	}
	100%{
		background-position: 1920px 0px;
	}
}