$color0: #00cc7a; // calculator button 0,1,2,3,4
$color1: #006666;
$color2: #008080;
$color3: #e6ecff;
$color4: #b3b3ff;
$color5: #b380ff; // background 5,6
$color6: #1f004d; 
$color7: #cc00ff; // list item color 7,8,9,10
$color8: #ff0066;
$color9: #ffcc00;
$color10: #ffeee6;